body{
    font-family:'Times New Roman', Times, serif;
    background-color: #f4f6f8;
   }
   .container{
    max-width:900px;
    margin:auto;
    background: #ffffffe6;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    display:flex;
   }
   .sidebar {
  width: 230px;
  min-height: 100vh;
  background: #0b3d2e;
  padding: 25px;
  color: #fff;
  left:0;
  top:0;
}
.sidebar h2{
    text-align:center;
    color:#ff9800
}

.sidebar ul {
    list-style:none;

}
.sidebar ul li a{
    color:white;
    font-size:16px;
    text-decoration: none;
}
.main-content{
    flex:1;

}

.sidebar ul li a:hover{
    color:#ff9800;
}
   h2{
      text-align: center;
      font-size:18pt;
      color:#0b3d2e;
    
   }

   h4{
    color: #ff9800;
    font-size: 15pt;
   }
  .form-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;

  }
  .form-group{
    display:flex;
    flex-direction: column;
  }
  .form-group label{
    margin-bottom: 5px;

  }

  .form-group input, .form-group select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:2px;
  }
  .full{
    grid-column:span 2;
  }
  .gender-group{
    display:flex;
    gap: 10px;
    align-items: center;
  }
  .gender-group input[type=radio]{
accent-color: #0b3d2e;
  }
  
  .buttons{
    display: flex;
    gap:10px;
    margin-top:20px;
  }
    button{
        padding:10px;
        width:32%;
        border:none;
        border-radius: 5px;
        font-size:11pt;
        cursor: pointer;
        flex:1;
    }
   .save{
    background-color: #0b3d2e;
    color:antiquewhite;
   }
    
   .reset{
    background-color: #ff9800;
    color:antiquewhite;
   }
   input, select, textarea{
    width:95%;
    padding:10px;
    border-radius: 1px solid #ccc;
    font-size:14px;
   } 
   label{
    color:#0b3d2e;
   }
