*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topbar {
    /* border: 1px solid black; */
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 9px;
    box-shadow: 6px 6px 6px 13px black;
    border-bottom: 1px solid gray;
}

.dashboard {
    flex: 1;
    background: #f5f6fa;
    padding: 24px;
    /* max-width: 80%; */
    /* border: 1px solid black; */
}

.reports-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    margin: 20px;
}

.card {
    border-radius: 13px;
    background: white;
    height: 150px;
    min-width: 150px;
    padding: 24px;
    box-shadow: 1px 1px 1px gray;
}

.transaction-history-section {
    margin: 20px;
    margin-top: 60px;
    /* border: 1px solid black; */
    min-height: 350px;
    border-radius: 13px;
    background: white;
    box-shadow: 1px 1px 1px gray;
}

.transaction-history-section table {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.logout {
    background: red;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
}
